
.node_default {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node_default:hover {
  fill: #000;
}

.link_default {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node_default:hover,
.linked_node,
.linking_node {
  font-weight: 700;
}

.linked_node {
  fill: #2ca02c;
}

.linking_node {
  fill: #d62728;
}

.linked,
.linking {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.linked {
  stroke: #d62728;
}

.linking {
  stroke: #2ca02c;
}